DATABRICKS_HOST=https://dbc-XXXXXXXX-XXXX.cloud.databricks.com
DATABRICKS_TOKEN=dapiXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATABRICKS_WAREHOUSE_ID=XXXXXXXXXXXXXXXX
PGHOST=XXXXXXXXXXXXXXXX.database.us-east-2.cloud.databricks.com
PGDATABASE=databricks_postgres
PGUSER=your-user@example.com
LAKEBASE_INSTANCE=data-legend-db
